
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  padding: 40px 20px 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
h1 {
  color: #155e46;
  font-size: 28px;
  margin-bottom: 10px;
}

#escolha-texto {
  color: #333;
  max-width: 600px;
  margin-bottom: 40px;
  font-size: 16px;
} 
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  

}
.card {
  padding: 20px;
  border-radius: 16px;
  flex: 1 1 300px;
  min-width: 250px;
  color: white;
}
.card h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.card ul {
  list-style-type: disc;
  padding-left: 20px;
}
.card ul li {
  margin-bottom: 10px;
}
.card-1 {
  background-color: #065f59;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.card-2 {
  background-color: #619296;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.card-3 {
  background-color: #78a46f;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#footer-texto {
  text-align: center;
  color: #1A6A64;
  font-weight: bold;
  width: 100%; 
  margin-top: 20px;
}

.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
  background-color: transparent;
}

.wave1 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagens/wave2.svg');
  background-size: cover;
  z-index: 2;
  opacity: .7;
}

.wave2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('imagens/wave1.svg');
  background-size: cover;
  opacity: 1;
  z-index: 1;
}

a{
  text-decoration: none;
  color: #065f59;
}